.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  transition: all .3s ease-in-out;

}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 800px;
    padding-top: 100px;

  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    padding: 100px 0 0;
    width: 800px;
  }
}
.container h3,
.container label{
  color: #fff!important;

}
